name: Run tests
on:
  workflow_dispatch:
  workflow_call:
    inputs:
      go-version:
        type: string
        required: true
permissions:
  pull-requests: write
  contents: read
env:
  GOPRIVATE: "github.com/mconf/*"
jobs:
  tests:
    name: Run tests
    runs-on: [self-hosted, ubuntu-22.04]
    timeout-minutes: 15
    steps:
      - name: Check out Source Repository
        uses: actions/checkout@v6

      - name: Get Modified Go Files
        id: changed-go-files
        uses: tj-actions/changed-files@v47
        with:
          files: |
            **/*.go
            go.mod
            go.sum

      - name: Set up Go
        if: steps.changed-go-files.outputs.any_changed == 'true'
        uses: actions/setup-go@v6
        with:
          go-version: ${{ inputs.go-version }}
          cache: true

      - name: Install SSH Agent
        if: ${{ steps.changed-go-files.outputs.any_changed == 'true' && env.ssh-private-key != '' }}
        env:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
        run: sudo apt-get install -y openssh-client

      - name: Configure Git to Access Private Modules
        if: ${{ steps.changed-go-files.outputs.any_changed == 'true' && env.ssh-private-key != '' }}
        env:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
        uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Install Gocov
        if: steps.changed-go-files.outputs.any_changed == 'true'
        run: go install github.com/axw/gocov/gocov@v1.1.0

      - name: Install Gocov-XML
        if: steps.changed-go-files.outputs.any_changed == 'true'
        run: go install github.com/AlekSi/gocov-xml@v1.1.0

      - name: Test and Generate Coverage File
        if: steps.changed-go-files.outputs.any_changed == 'true'
        run: | # Get coverage only for packages that have tests.
          packages=$(find . -name '*_test.go' -exec dirname {} + | sort -u | tr '\n' ',' | sed 's/,$//')
          gocov test ./... -coverpkg $packages | gocov-xml > coverage.cobertura.xml
        env:
          TESTCONTAINERS_RYUK_DISABLED: true

      - name: Generate Code Coverage Summary Report
        if: steps.changed-go-files.outputs.any_changed == 'true'
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: coverage.cobertura.xml
          badge: true
          fail_below_min: false
          format: markdown
          hide_complexity: true
          indicators: true
          output: both
          thresholds: "50 75"

      - name: Add Coverage PR Comment
        uses: marocchino/sticky-pull-request-comment@v2
        if: ${{ steps.changed-go-files.outputs.any_changed == 'true' && github.event_name == 'pull_request' }}
        with:
          recreate: true
          path: code-coverage-results.md
