name: Run lint
on:
  workflow_call:
    inputs:
      go-version:
        type: string
        required: true
env:
  GOPRIVATE: github.com/mconf/*
jobs:
  lint:
    name: Run lint
    runs-on: [self-hosted, ubuntu-20.04]
    steps:
      - name: Check out Source Repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ inputs.go-version }}

      - name: Configure Git to Access Private Modules
        if: ${{ env.ssh-private-key != '' }}
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
        env:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Lint with GolangCI
        uses: golangci/golangci-lint-action@v6.0.1
        with:
          version: v1.60.1
          args: --timeout=5m
