name: Run build
on:
  workflow_dispatch:
  workflow_call:
    inputs:
      node-version:
        type: string
        required: true
permissions:
  contents: read
jobs:
  Build:
    name: Run build
    runs-on: [self-hosted, ubuntu-22.04]
    timeout-minutes: 15
    steps:
      - name: Check out Source Repository
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node-version }}
          cache: 'npm'

      - name: Clean Install Project
        run: npm ci

      - name: Build
        run: npm run build
