name: Run build
on:
  workflow_dispatch:
  workflow_call:
jobs:
  Build:
    runs-on: [self-hosted, ubuntu-22.04]
    steps:
      - name: Check out Source Repository
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 12
          cache: 'npm'

      - name: Clean Install Project
        run: npm ci

      - name: Build
        run: npm run build
