name: Run build
on:
  workflow_dispatch:
  workflow_call:
    inputs:
      node-version:
        type: string
        required: true
      build-env:
        type: string
        required: false
        default: ''
      runs-on:
        type: string
        required: false
        default: '["self-hosted", "ubuntu-22.04"]'
permissions:
  contents: read
jobs:
  Build:
    name: Run build
    runs-on: ${{ fromJSON(inputs.runs-on) }}
    timeout-minutes: 15
    steps:
      - name: Check out Source Repository
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node-version }}
          cache: 'npm'

      - name: Clean Install Project
        run: npm ci

      - name: Set Build Environment Variables
        if: ${{ inputs.build-env != '' }}
        run: |
          echo "${{ inputs.build-env }}" | while IFS= read -r line; do
            if [ -n "$line" ]; then
              echo "$line" >> $GITHUB_ENV
            fi
          done

      - name: Build Project
        run: npm run build
