name: Run lint
on:
  workflow_dispatch:
  workflow_call:
    inputs:
      node-version:
        type: string
        required: true
      runs-on:
        type: string
        required: false
        default: '["self-hosted", "ubuntu-22.04"]'
permissions:
  contents: read
jobs:
  Lint:
    name: Run lint
    runs-on: ${{ fromJSON(inputs.runs-on) }}
    timeout-minutes: 15
    steps:
      - name: Check out Source Repository
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node-version }}
          cache: 'npm'

      - name: Clean Install Project
        run: npm ci

      - name: Install ESLint
        run: npm install -g eslint

      - name: Run ESLint
        run: npx eslint . --ext .js,.jsx,.ts,.tsx
