name: Run tests
on:
  workflow_dispatch:
  workflow_call:
    inputs:
      node-version:
        type: string
        required: true
permissions:
  contents: read
jobs:
  Test:
    name: Run tests
    runs-on: [self-hosted, ubuntu-22.04]
    timeout-minutes: 15
    steps:
      - name: Check out Source Repository
        uses: actions/checkout@v6

      - name: Get Modified JavaScript Files
        id: changed-js-files
        uses: tj-actions/changed-files@v47
        with:
          files: |
            **/*.js
            **/*.jsx
            **/*.ts
            **/*.tsx
            package.json
            package-lock.json

      - name: Set up Node.js
        if: steps.changed-js-files.outputs.any_changed == 'true'
        uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node-version }}
          cache: 'npm'

      - name: Clean Install Project
        if: steps.changed-js-files.outputs.any_changed == 'true'
        run: npm ci

      - name: Run Tests
        if: steps.changed-js-files.outputs.any_changed == 'true'
        run: npm test
