name: Run tests
on:
  workflow_call:
    inputs:
      SRC_PATH:
        type: string
        required: true
      TESTS_PATH:
        type: string
        required: true
      python-version:
        type: string
        required: true
      env-file:
        type: string
        required: true

jobs:
  test-and-check-coverage:
    runs-on: [self-hosted, ubuntu-20.04]
    name: Test and Check Coverage
    steps:
      - name: Check out Source Repository
        uses: actions/checkout@v4
      - name: Get Modified Python Files
        id: changed-python-files
        uses: tj-actions/changed-files@v46
      - name: Set up Python Environment
        if: contains(steps.changed-python-files.outputs.modified_files, '.py')
        uses: actions/setup-python@v4
        with:
          python-version: ${{ inputs.python-version }}
      - name: Setup PDM
        if: contains(steps.changed-python-files.outputs.modified_files, '.py')
        uses: pdm-project/setup-pdm@v4
        with:
          python-version: ${{ inputs.python-version }}
          cache: true
          cache-dependency-path: ./pdm.lock
      - name: Install Dependencies
        if: contains(steps.changed-python-files.outputs.modified_files, '.py')
        run: pdm install
      - name: Load .env File
        if: contains(steps.changed-python-files.outputs.modified_files, '.py')
        uses: c-py/action-dotenv-to-setenv@v2
        with:
          env-file: ${{ inputs.env-file }}
      - name: Run Tests
        if: contains(steps.changed-python-files.outputs.modified_files, '.py')
        run: pdm run coverage run --source=${{ inputs.SRC_PATH }} --omit=${{ inputs.SRC_PATH }}/app.py -m pytest -v ${{ inputs.TESTS_PATH }} --ignore=${{ inputs.TESTS_PATH }}/black-box/
      - name: Generate XML from Coverage
        if: contains(steps.changed-python-files.outputs.modified_files, '.py')
        run: pdm run coverage xml
      - name: Run Python Cov
        if: ${{ contains(steps.changed-python-files.outputs.modified_files, '.py') && github.event_name == 'pull_request' }}
        uses: orgoro/coverage@v3.2
        with:
          coverageFile: coverage.xml
          token: ${{ secrets.GITHUB_TOKEN }}
