name: Run lint
on:
  workflow_dispatch:
  workflow_call:
jobs:
  Lint:
    runs-on: [self-hosted, ubuntu-22.04]
    steps:
    - name: Check out Source Repository
      uses: actions/checkout@v6
    - name: Install Tools
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential patch ruby-dev zlib1g-dev liblzma-dev libgmp-dev libpq-dev libsqlite3-dev
    - name: Setup Ruby Environment
      uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true
    - name: Install Dependencies
      run: bundle install
    - name: Lint with RuboCop
      run: bundle exec rubocop -l
