name: Run lint
on:
  workflow_dispatch:
  workflow_call:
jobs:
  Lint:
    runs-on: [self-hosted, ubuntu-20.04]
    steps:
    - name: Check out Source Repository
      uses: actions/checkout@v4
    - name: Install Tools
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential patch ruby-dev zlib1g-dev liblzma-dev libgmp-dev libpq-dev libsqlite3-dev
    - name: Setup Ruby Environment
      uses: ruby/setup-ruby@v1
      with:
        bundler-cache: .true
    - name: Install Gems
      run: |
        gem install nokogiri -v '1.8.5'
        gem install parallel -v '1.24.0'
        gem install pg -v '1.1.3'
        gem install sqlite3 -v '1.3.13'
        gem install rubocop-ast -v '1.17.0'
        gem install rubocop -v '1.28.2'
    - name: Install Dependencies
      run: bundle install
    - name: Lint with RuboCop
      run: rubocop -l
