name: Run lint
on:
  workflow_dispatch:
  workflow_call:
    inputs:
      ruby-version:
        type: string
        required: true
permissions:
  contents: read
jobs:
  Lint:
    name: Run lint
    runs-on: [self-hosted, ubuntu-22.04]
    timeout-minutes: 15
    steps:
    - name: Check out Source Repository
      uses: actions/checkout@v6
    - name: Install Tools
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential patch ruby-dev zlib1g-dev liblzma-dev libgmp-dev libpq-dev libsqlite3-dev
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ inputs.ruby-version }}
        bundler-cache: true
    - name: Install Dependencies
      run: bundle install
    - name: Run RuboCop Linter
      run: bundle exec rubocop -l
