name: Run trivy on filesystem
on:
  workflow_dispatch:
  workflow_call:
permissions:
  contents: read
  pull-requests: write
jobs:
  trivy:
    name: Run trivy check
    runs-on: [self-hosted, ubuntu-22.04]
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@v6
      - name: Run Trivy Vulnerability Scanner
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: "fs"
          ignore-unfixed: true
          format: "sarif"
          output: "trivy-results.sarif"
          severity: "CRITICAL,HIGH"

      - name: Post Security Findings to Pull Request
        if: github.event_name == 'pull_request'
        uses: sett-and-hive/sarif-to-comment-action@v2.0.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          branch: ${{ github.head_ref }}
          pr-number: ${{ github.event.number }}
          sarif-file: trivy-results.sarif
          title: Scan security issues
          dry-run: false
